.DS_Store
node_modules
dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python env
pyvenv.cfg
__pycache__

backend/mono-back/Lib/
backend/mono-back/Scripts/
backend/mono-back/pip.bat
backend/mono-back/python.bat

deploy.sh
config.yml