html,
body {
	scroll-behavior: smooth;
	position: relative;
	height: calc(100% - 56px) !important;
	width: 100%;
}

body {
	.fontfamily-default;
	.container {
		background-color: white;
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
		position: relative;
		height: 100%;

		@media screen and (max-width: 1024px) {
			margin-left: 16px;
			margin-right: 16px;
		}

		.mono-main {
			position: relative;
			height: 100%;
			margin-top: 56px;
		}
	}

	.full-height {
		height: calc(100% - 56px);
		position: relative;
	}
}

button.md-primary.md-raised {
	.md-progress-spinner-draw {
		width: 16px !important;
		height: 16px !important;
	}

	.md-progress-spinner-circle {
		stroke: #fff !important;
	}
}

.loading-screen {
	height: 100%;
	position: relative;
	background-color: #fff;
}

.loading {
	display: flex;
	align-items: center;
	height: 100%;

	* {
		display: block;
		margin: auto;
	}
}

.submit-btn {
	/* force override */
	@media screen and (min-width: 1024px) {
		margin-top: 56px !important;
		margin-bottom: 56px !important;
	}
	@media screen and (max-width: 1024px) {
		margin-top: 42px !important;
		margin-bottom: 16px !important;
	}
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.hero {
	p {
		color: #aaa;
	}

	@media screen and (max-width: 1024px) {
		h1 {
			font-size: 38px;
		}
		p {
			font-size: 18px;
		}
	}

	@media screen and (min-width: 1024px) {
		h1 {
			font-size: 48px;
		}

		p {
			font-size: 24px;
		}
	}
}

.function-bar-float-right {
	.functions {
		flex-direction: row-reverse;
	}
}

.vertical-divider {
	&::before {
		content: " ";
		background: #bbb;
		width: 1px;
		height: 16px;
		display: block;
	}
}